/* General styles */
* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: hsl(230, 17%, 26%);
    color: hsl(0, 0%, 100%);
}

img {
    max-width: 100%;
}

/* Header */
.main-header {
    border-bottom: 2px solid hsl(228, 34%, 66%);
    padding: 1em 0;
    text-align: center;
}

/* Main */
.fa-spinner {
    margin-right: .5em;
}

/* Search form */
.search-form {
    display: none;
    margin: 1em 0;
    text-align: center;
}

.search-div {
    position: relative;
}

.search-input {
    border: 2px solid hsl(16, 100%, 65%);
    border-radius: 1.2em;
    outline: none;
    padding: .5em;
    padding-left: 15%;
}

.search-icon {
    color: hsl(0, 0%, 50%);
    left: 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.regions {
    margin: 1em 0;
    margin-left: 1em;
    padding: .4em .8em;
}

.search-input,
.regions {
    width: 250px;
}

.country-region {
    font-size: 1rem;
}

/* Countries section */
.countries {
    margin: 1em auto 0;
    width: 90%;
}

.country-tile {
    background: hsl(232, 19%, 15%);
    border: 5px double hsla(0, 0%, 100%, .5);
    background-clip: padding-box;
    border-radius: 10px;
    line-height: 2;
    padding: .5em;
}

.country-tile:hover {
    background: hsl(228, 28%, 20%);
    transition: transform .4s ease-in-out;
    transform: scale(1.02);
}

.country-header {
    margin-bottom: 1em;
}

.country-figure {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

.country-flag {
    width: 50px;
}

.country-capital {
    color: hsl(228, 34%, 66%);
    font-weight: 700;
    font-style: italic;
}

.country-population {
    color: hsl(29, 100%, 31%);
}

/* Footer */
footer {
    padding: 1em 0;
    text-align: center;
}

/* JavaScript classes */
.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
}

.display-form {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}