/* General styles */
* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: hsl(230, 17%, 26%);
    color: hsl(0, 0%, 100%);
}

img {
    max-width: 100%;
}

/* General classes */
.container {
    width: 90%;
}

/* Header */
.main-header {
    border-bottom: 2px solid hsl(228, 34%, 66%);
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
}

/* Main */
.fa-spinner {
    margin-right: 0.5em;
}

/* Search form */
.search-form {
    display: none;
    margin: 1em auto;
    text-align: center;
}

.search-div {
    position: relative;
}

.search-div,
.regions-div {
    margin-bottom: 0.75em;
}

.search-input {
    border: 2px solid hsl(16, 100%, 65%);
    border-radius: 1.2em;
    outline: none;
    padding: 0.5em;
    padding-left: 15%;
}

.search-icon {
    color: hsl(0, 0%, 60%);
    left: 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.regions {
    margin: 1em 0;
    margin-left: 0.75em;
    padding: 0.4em 0.8em;
}

.search-input,
.regions {
    width: 250px;
}

.region-option {
    font-size: 1rem;
}

/* Countries section */
.countries {
    margin: 1em auto 0;
}

.country-tile {
    background: hsl(232, 19%, 15%);
    background-clip: padding-box;
    border: 5px double hsla(0, 0%, 100%, 0.5);
    border-radius: 0.5em;
    line-height: 2;
    padding: 0.5em;
}

.country-tile:hover {
    background: hsl(228, 28%, 20%);
    transform: scale(1.02);
    transition: transform 0.4s ease-in-out;
}

.country-header {
    margin-bottom: 1em;
}

.country-figure {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

.country-flag {
    width: 50px;
}

.country-capital {
    color: hsl(228, 34%, 66%);
    font-weight: 700;
}

.country-region {
    color: hsl(48, 48%, 75%);
}

.country-population {
    color: hsl(168, 48%, 60%);
}

/* Footer */
footer {
    color: hsl(350, 100%, 68%);
    font-weight: 700;
    letter-spacing: 0.05em;
    padding: 1em 0;
    text-align: center;
}

.footer-link {
    color: inherit;
}

/* JavaScript-used classes */
.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.display-form {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.loading,
.error-message {
    color: hsl(54, 77%, 75%);
    font-style: italic;
}

.error-message {
    font-style: 700;
    margin: 0 auto;
}
